/*  your css code here. If applicable */
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid orange;
    }

    th, td {
      border: 1px solid orange;
      padding: 3px 5px;
      text-align: center;
    }

    thead th {
      background-color: #888888;
      color: white;
    }

    .sub-total-text {
      text-align: right;
    }
